USE [AgooTrainingRegistrarSystem2024]
GO
/****** Object:  StoredProcedure [TRS].[sp_Global_GetUserForms]    Script Date: 12/4/2025 4:30:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Rivera, Jerameel S., Gracias, Roland John P.
-- Create date: 08/13/2024
-- Modified date: 12/04/2025
-- Description:	Get all forms
-- Change Reason:
/*
	000919-1025; 000901-1025 - Include RPG as Dev in page info.
*/
-- =============================================
ALTER PROCEDURE  [TRS].[sp_Global_GetUserForms]
@EmpID AS NVARCHAR(20)
AS
BEGIN

DECLARE @ULIISAdmin_Server AS NVARCHAR(200),
		@ULIISAdmin_DBName AS NVARCHAR(200),
		@ITPMS_Server AS NVARCHAR(200),
		@ITPMS_DBName AS NVARCHAR(200),
		@query AS NVARCHAR(MAX)

SELECT TOP 1 @ULIISAdmin_Server=IPAddress,@ULIISAdmin_DBName=BranchName FROM onehrmstestdb.Rehandling.mIPAddressTable WHERE ModuleID='ULIISADMIN' AND Status='A'

select @ITPMS_Server = IPAddress,@ITPMS_DBName = BranchName from OneHRMSTestDB.Rehandling.mIPAddressTable where ModuleID = 'ITPMS' and  Status = 'A'


SET @query ='
;with devID as (
				select ''JSR | RPG'' [DevInitials]
), devInfo as (
				select ''JSR | (1)239 | jerameel_rivera@universalleaf.com.ph </br> RPG | (1)167 | roland_gracias@universalleaf.com.ph''AS [DevInfo]
), empInfo as (
	select POSITION_DESCRIPTION,
			 EMPLOYEE_LEVEL
	from OneHRMSTestDB.hr.tEmploymentInfoCurrent a
	left join OneHRMSTestDB.hr.mPosition b on b.POSITION_CODE = a.POSITION_CODE and b.Status =''A''
	where EMPLOYEE_NO = '''+@empid+'''
)

select '''+@EmpID+'''[EmployeeNo],a.FormID,FormName,AccessibleDescription,CurrentVersion,ISNULL(a.DateModified,a.DateCreated) DateModified
,devID.DevInitials,devInfo.DevInfo,
a.SubMenuID,sub.SubMenuName,Controller,Action,Icon,
CASE WHEN ISNULL(x.ViewOnly,0)=1 THEN ''VIEW''
				WHEN ISNULL(x.[Create],0)=1 THEN ''CREATE''
				WHEN ISNULL(x.Approve,0)=1 THEN ''APPROVE''
				else ''NONE''
		END AccessType
from ['+@ULIISAdmin_Server+'].['+@ULIISAdmin_DBName+'].Administration.mForm a
inner join ['+@ULIISAdmin_Server+'].['+@ULIISAdmin_DBName+'].Administration.msubmenu sub on a.SubMenuID COLLATE SQL_Latin1_General_CP437_CI_AS = sub.SubMenuID COLLATE SQL_Latin1_General_CP437_CI_AS and sub.ModuleID = ''TRS''
left join (
	select uapm.Form,b.ViewOnly,b.[Create],b.Approve from ['+@ITPMS_Server+'].['+@ITPMS_DBName+'].Administration.tUAPM uapm 
	inner JOIN ['+@ULIISAdmin_Server+'].['+@ULIISAdmin_DBName+'].Administration.tUserGroupPermission b ON uapm.Form = B.FormID  COLLATE SQL_Latin1_General_CP437_CI_AS AND b.status = ''A'' and b.UserGroupID COLLATE SQL_Latin1_General_CP437_CI_AS ='''+@EmpID+''' 
	where uapm.Form  COLLATE SQL_Latin1_General_CP437_CI_AS
	in (select formid from ['+@ULIISAdmin_Server+'].['+@ULIISAdmin_DBName+'].Administration.mForm where moduleid = ''TRS'')
	and uapm.EmployeePosition COLLATE SQL_Latin1_General_CP437_CI_AS = (select POSITION_DESCRIPTION from empInfo) and uapm.Status = ''A''
) x on x.form = a.formID COLLATE SQL_Latin1_General_CP437_CI_AS 
cross join devID 
cross join devInfo 
where a.ModuleID = ''TRS''
and a.formid collate SQL_Latin1_General_CP1_CI_AS = (
	select case when a.formid not in (
	''TRHH-0001'',
	''TRRR-0001'',
	''TRTT-0002''
	) then x.Form else a.formid end
)
order by sub.submenuorder desc,a.FormID asc
'
exec  (@query)

END
