USE [AgooTrainingRegistrarSystem2024]
GO
/****** Object:  View [TRS].[vw_HR_EmployeeInfo]    Script Date: 8/13/2026 4:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[TRS].[vw_HR_EmployeeInfo]'))
BEGIN
	EXEC dbo.sp_executesql @statement = N'
	ALTER VIEW [TRS].[vw_HR_EmployeeInfo]
	AS


		select cast(hr.EMPLOYEE_NO as nvarchar(max))[EmployeeNo], 
		msys.UserID,
		info.EMP_FULL_NAME[EmployeeName], 
		info.EMP_FNAME[FirstName],
		info.EMP_LNAME[LastName],
		info.EMP_MNAME[MiddleName],
		EMPLOYEE_STATUS[EmployeeStatus], 
		eservice.SERVICE_DESCRIPTION[ServiceDescription],
		isnull(EMPLOYEE_SERVICE,'''')[EmployeeService],
		msys.PositionName, 
		POSITION_CODE[PositionCode],
		EMPLOYEE_TYPE_DESC[EmployeeTypeDesc],
		hr.EMPLOYEE_TYPE[EmployeeType],
		JOBCLASS_DESCRIPTION[JobClassDescription],
		hr.JOBCLASS_CODE[JobClassCode],
		hr.EMPLOYEE_LEVEL[EmployeeLevel],
		hr.BRANCH_CODE[Branch],
		hr.SATELLITE_CODE[Satellite],
		superior.EmpID[SuperiorID],
		superior.FullName[SuperiorFullname],
		msys.SectionID,
		msys.SectionName,
		sectionhead.EmpID[SectionHeadID],
		sectionhead.FullName[SectionHeadFullname],
		msys.DepartmentID,
		msys.DepartmentName,
		depthead.EmpID[DepartmentHeadID],
		depthead.FullName[DepartmentHeadFullname],
		msys.DivisionID,
		msys.DivisionName,
		isnull(divhead.EmpID,'''')[DivisionHeadID],
		isnull(divhead.FullName,'''')[DivisionHeadFullname],
		isnull(info.HP_NO,'''') [PersonalPhoneNo],
		isnull(msys.EmailAddress,'''') [EmailAddress]
		from Onehrmstestdb.hr.tEmploymentInfoCurrent hr
		left join Onehrmstestdb.hr.tEmployeeInfo info on info.EMPLOYEE_NO = hr.EMPLOYEE_NO
		left join Onehrmstestdb.Administration.mSystemUsers msys on msys.empid = hr.EMPLOYEE_NO
		left join Onehrmstestdb.hr.mEmployeeType etype on etype.EMPLOYEE_TYPE = hr.EMPLOYEE_TYPE
		left join Onehrmstestdb.hr.mJobClass ejob on ejob.JOBCLASS_CODE = hr.JOBCLASS_CODE
		left join Onehrmstestdb.hr.mService eservice on eservice.SERVICE_CODE = hr.EMPLOYEE_SERVICE
		left join Onehrmstestdb.administration.mSystemUsers superior on superior.EmpID = msys.SuperiorID
		left join Onehrmstestdb.administration.mSystemUsers sectionhead on sectionhead.EmpID = msys.SectionHeadID
		left join Onehrmstestdb.administration.mSystemUsers depthead on depthead.EmpID = msys.DepartmentHeadID
		left join Onehrmstestdb.administration.mSystemUsers divhead on divhead.EmpID = msys.DivisionHeadID
		where
		EMPLOYEE_STATUS = ''A'' OR EMPLOYEE_SERVICE IN (select ''LO''[LEAVE] union all select ''SUS''[LEAVE] union all select LEAVE_CODE from OneHRMSTestDB.hr.mStaffMovementLeaveMaster where PMSIncluded = 1)
	' 
END
ELSE 
BEGIN 
	EXEC dbo.sp_executesql @statement = N'
	CREATE VIEW [TRS].[vw_HR_EmployeeInfo]
	AS


		select cast(hr.EMPLOYEE_NO as nvarchar(max))[EmployeeNo], 
		msys.UserID,
		info.EMP_FULL_NAME[EmployeeName], 
		info.EMP_FNAME[FirstName],
		info.EMP_LNAME[LastName],
		info.EMP_MNAME[MiddleName],
		EMPLOYEE_STATUS[EmployeeStatus], 
		eservice.SERVICE_DESCRIPTION[ServiceDescription],
		isnull(EMPLOYEE_SERVICE,'''')[EmployeeService],
		msys.PositionName, 
		POSITION_CODE[PositionCode],
		EMPLOYEE_TYPE_DESC[EmployeeTypeDesc],
		hr.EMPLOYEE_TYPE[EmployeeType],
		JOBCLASS_DESCRIPTION[JobClassDescription],
		hr.JOBCLASS_CODE[JobClassCode],
		hr.EMPLOYEE_LEVEL[EmployeeLevel],
		hr.BRANCH_CODE[Branch],
		hr.SATELLITE_CODE[Satellite],
		superior.EmpID[SuperiorID],
		superior.FullName[SuperiorFullname],
		msys.SectionID,
		msys.SectionName,
		sectionhead.EmpID[SectionHeadID],
		sectionhead.FullName[SectionHeadFullname],
		msys.DepartmentID,
		msys.DepartmentName,
		depthead.EmpID[DepartmentHeadID],
		depthead.FullName[DepartmentHeadFullname],
		msys.DivisionID,
		msys.DivisionName,
		isnull(divhead.EmpID,'''')[DivisionHeadID],
		isnull(divhead.FullName,'''')[DivisionHeadFullname],
		isnull(info.HP_NO,'''') [PersonalPhoneNo],
		isnull(msys.EmailAddress,'''') [EmailAddress]
		from Onehrmstestdb.hr.tEmploymentInfoCurrent hr
		left join Onehrmstestdb.hr.tEmployeeInfo info on info.EMPLOYEE_NO = hr.EMPLOYEE_NO
		left join Onehrmstestdb.Administration.mSystemUsers msys on msys.empid = hr.EMPLOYEE_NO
		left join Onehrmstestdb.hr.mEmployeeType etype on etype.EMPLOYEE_TYPE = hr.EMPLOYEE_TYPE
		left join Onehrmstestdb.hr.mJobClass ejob on ejob.JOBCLASS_CODE = hr.JOBCLASS_CODE
		left join Onehrmstestdb.hr.mService eservice on eservice.SERVICE_CODE = hr.EMPLOYEE_SERVICE
		left join Onehrmstestdb.administration.mSystemUsers superior on superior.EmpID = msys.SuperiorID
		left join Onehrmstestdb.administration.mSystemUsers sectionhead on sectionhead.EmpID = msys.SectionHeadID
		left join Onehrmstestdb.administration.mSystemUsers depthead on depthead.EmpID = msys.DepartmentHeadID
		left join Onehrmstestdb.administration.mSystemUsers divhead on divhead.EmpID = msys.DivisionHeadID
		where
		EMPLOYEE_STATUS = ''A'' OR EMPLOYEE_SERVICE IN (select ''LO''[LEAVE] union all select ''SUS''[LEAVE] union all select LEAVE_CODE from OneHRMSTestDB.hr.mStaffMovementLeaveMaster where PMSIncluded = 1)
	' 
END
GO
