USE [master]
GO
/****** Object:  Database [AgooTrainingRegistrarSystem2024]    Script Date: 9/24/2024 4:27:01 PM ******/
CREATE DATABASE [AgooTrainingRegistrarSystem2024]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgooTrainingRegistrarSystem2024].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgooTrainingRegistrarSystem2024]
GO
USE [AgooTrainingRegistrarSystem2024]
GO
/****** Object:  Schema [TRS]    Script Date: 9/24/2024 4:27:01 PM ******/
CREATE SCHEMA [TRS]
GO
/****** Object:  View [TRS].[vw_HR_EmployeeInfo]    Script Date: 9/24/2024 4:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/24/2024 4:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TRS].[mJobClass]    Script Date: 9/24/2024 4:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRS].[mJobClass](
	[RecordNo] [bigint] IDENTITY(1,1) NOT NULL,
	[JobClassCode] [nvarchar](max) NOT NULL,
	[JobClassDescription] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedByComputerUsed] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedByComputerUsed] [nvarchar](max) NULL,
	[DateModified] [datetime2](7) NULL,
	[ProgramCode] [nvarchar](450) NULL,
	[ScheduleTrainingCode] [nvarchar](450) NULL,
 CONSTRAINT [PK_mJobClass] PRIMARY KEY CLUSTERED 
(
	[RecordNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TRS].[mTrainingCoordinator]    Script Date: 9/24/2024 4:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRS].[mTrainingCoordinator](
	[EmployeeNo] [nvarchar](450) NOT NULL,
	[RecordNo] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedByComputerUsed] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedByComputerUsed] [nvarchar](max) NULL,
	[DateModified] [datetime2](7) NULL,
 CONSTRAINT [PK_mTrainingCoordinator] PRIMARY KEY CLUSTERED 
(
	[EmployeeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TRS].[mTrainingCourse]    Script Date: 9/24/2024 4:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRS].[mTrainingCourse](
	[CourseCode] [nvarchar](450) NOT NULL,
	[RecordNo] [bigint] IDENTITY(1,1) NOT NULL,
	[CourseTitle] [nvarchar](max) NOT NULL,
	[CourseDescription] [nvarchar](max) NOT NULL,
	[WithPreTest] [bit] NOT NULL,
	[PreTestTotalScore] [bigint] NULL,
	[WithPostTest] [bit] NOT NULL,
	[PostTestTotalScore] [bigint] NULL,
	[WithEvaluation] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedByComputerUsed] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedByComputerUsed] [nvarchar](max) NULL,
	[DateModified] [datetime2](7) NULL,
	[ProgramCode] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_mTrainingCourse] PRIMARY KEY CLUSTERED 
(
	[CourseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TRS].[mTrainingFeedbackQuestions]    Script Date: 9/24/2024 4:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRS].[mTrainingFeedbackQuestions](
	[QuestionID] [nvarchar](450) NOT NULL,
	[RecordNo] [bigint] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NULL,
	[QuestionType] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[IsRequired] [bit] NOT NULL,
	[QuestionSequence] [bigint] NOT NULL,
	[CategorySequence] [bigint] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedByComputerUsed] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedByComputerUsed] [nvarchar](max) NULL,
	[DateModified] [datetime2](7) NULL,
 CONSTRAINT [PK_mTrainingFeedbackQuestions] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TRS].[mTrainingProgram]    Script Date: 9/24/2024 4:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRS].[mTrainingProgram](
	[ProgramCode] [nvarchar](450) NOT NULL,
	[RecordNo] [bigint] IDENTITY(1,1) NOT NULL,
	[ProgramTitle] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedByComputerUsed] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedByComputerUsed] [nvarchar](max) NULL,
	[DateModified] [datetime2](7) NULL,
 CONSTRAINT [PK_mTrainingProgram] PRIMARY KEY CLUSTERED 
(
	[ProgramCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TRS].[tTrainingFeedback]    Script Date: 9/24/2024 4:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRS].[tTrainingFeedback](
	[RecordNo] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeNo] [nvarchar](max) NULL,
	[Answer] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedByComputerUsed] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedByComputerUsed] [nvarchar](max) NULL,
	[DateModified] [datetime2](7) NULL,
	[TrainingFeedbackQuestionsQuestionID] [nvarchar](450) NULL,
	[TrainingRegistrationRegistrationCode] [nvarchar](450) NULL,
 CONSTRAINT [PK_tTrainingFeedback] PRIMARY KEY CLUSTERED 
(
	[RecordNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TRS].[tTrainingRegistration]    Script Date: 9/24/2024 4:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRS].[tTrainingRegistration](
	[RegistrationCode] [nvarchar](450) NOT NULL,
	[RecordNo] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeNo] [nvarchar](max) NOT NULL,
	[ReasonForCancellation] [nvarchar](max) NULL,
	[ReasonForDenying] [nvarchar](max) NULL,
	[TrainingScheduleTrainingCode] [nvarchar](450) NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedByComputerUsed] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedByComputerUsed] [nvarchar](max) NULL,
	[DateModified] [datetime2](7) NULL,
	[TrainingRegistrationStatus] [nvarchar](max) NOT NULL,
	[TrainingCompletionStatus] [nvarchar](max) NULL,
	[ReasonForDisapproval] [nvarchar](max) NULL,
	[AbsenceReason] [nvarchar](max) NULL,
	[Attendance] [nvarchar](max) NULL,
	[EvaluationScore] [bigint] NOT NULL,
	[PostTestFirstScore] [bigint] NOT NULL,
	[PostTestSecondScore] [bigint] NOT NULL,
	[PostTestStatus] [nvarchar](max) NULL,
	[PostTestThirdScore] [bigint] NOT NULL,
	[PostTestFirstScorePercentage] [float] NOT NULL,
	[PostTestSecondScorePercentage] [float] NOT NULL,
	[PostTestThirdScorePercentage] [float] NOT NULL,
	[TrainingFeedbackStatus] [nvarchar](max) NULL,
	[CourseCompletionStatus] [nvarchar](max) NULL,
	[RegistrationAcceptedBy] [nvarchar](max) NULL,
	[RegistrationAcceptedDate] [datetime2](7) NULL,
	[RegistrationCanceledBy] [nvarchar](max) NULL,
	[RegistrationCanceledDate] [datetime2](7) NULL,
	[RegistrationCreatedBy] [nvarchar](max) NULL,
	[RegistrationCreatedDate] [datetime2](7) NULL,
	[RegistrationDeniedBy] [nvarchar](max) NULL,
	[RegistrationDeniedDate] [datetime2](7) NULL,
	[RegistrationApprovedBy] [nvarchar](max) NULL,
	[RegistrationApprovedDate] [datetime2](7) NULL,
	[RegistrationDisapprovedBy] [nvarchar](max) NULL,
	[RegistrationDisapprovedDate] [datetime2](7) NULL,
	[RegistrationConfirmedBy] [nvarchar](max) NULL,
	[RegistrationConfirmedDate] [datetime2](7) NULL,
	[RegistrationRejectedBy] [nvarchar](max) NULL,
	[RegistrationRejectedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_tTrainingRegistration] PRIMARY KEY CLUSTERED 
(
	[RegistrationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TRS].[tTrainingSchedule]    Script Date: 9/24/2024 4:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRS].[tTrainingSchedule](
	[TrainingCode] [nvarchar](450) NOT NULL,
	[RecordNo] [bigint] IDENTITY(1,1) NOT NULL,
	[RegistrationStatus] [nvarchar](max) NOT NULL,
	[Region] [nvarchar](max) NOT NULL,
	[TrainingType] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[ResourceSpeaker] [nvarchar](max) NOT NULL,
	[ClassSize] [int] NOT NULL,
	[MinimumParticipants] [int] NOT NULL,
	[CostPerHead] [float] NULL,
	[Venue] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedByComputerUsed] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedByComputerUsed] [nvarchar](max) NULL,
	[DateModified] [datetime2](7) NULL,
	[CourseCode] [nvarchar](450) NULL,
	[ProgramCode] [nvarchar](450) NULL,
	[ScheduleStatus] [nvarchar](max) NOT NULL,
	[CancellationReason] [nvarchar](max) NULL,
	[CancellationType] [nvarchar](max) NULL,
	[RegisteredEmployeeCount] [int] NULL,
	[ScheduleCanceledBy] [nvarchar](max) NULL,
	[ScheduleCanceledDate] [datetime2](7) NULL,
	[ScheduleCreatedBy] [nvarchar](max) NULL,
	[ScheduleCreatedDate] [datetime2](7) NULL,
	[ScheduleModifiedBy] [nvarchar](max) NULL,
	[ScheduleModifiedDate] [datetime2](7) NULL,
	[ScheduleCompletedBy] [nvarchar](max) NULL,
	[ScheduleCompletedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_tTrainingSchedule] PRIMARY KEY CLUSTERED 
(
	[TrainingCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [TRS].[tUserLogs]    Script Date: 9/24/2024 4:27:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TRS].[tUserLogs](
	[RecordNo] [bigint] IDENTITY(1,1) NOT NULL,
	[Activity] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedByComputerUsed] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_tUserLogs] PRIMARY KEY CLUSTERED 
(
	[RecordNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_mJobClass_ProgramCode]    Script Date: 9/24/2024 4:27:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_mJobClass_ProgramCode] ON [TRS].[mJobClass]
(
	[ProgramCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_mJobClass_ScheduleTrainingCode]    Script Date: 9/24/2024 4:27:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_mJobClass_ScheduleTrainingCode] ON [TRS].[mJobClass]
(
	[ScheduleTrainingCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_mTrainingCourse_ProgramCode]    Script Date: 9/24/2024 4:27:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_mTrainingCourse_ProgramCode] ON [TRS].[mTrainingCourse]
(
	[ProgramCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tTrainingFeedback_TrainingFeedbackQuestionsQuestionID]    Script Date: 9/24/2024 4:27:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_tTrainingFeedback_TrainingFeedbackQuestionsQuestionID] ON [TRS].[tTrainingFeedback]
(
	[TrainingFeedbackQuestionsQuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tTrainingFeedback_TrainingRegistrationRegistrationCode]    Script Date: 9/24/2024 4:27:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_tTrainingFeedback_TrainingRegistrationRegistrationCode] ON [TRS].[tTrainingFeedback]
(
	[TrainingRegistrationRegistrationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tTrainingRegistration_TrainingScheduleTrainingCode]    Script Date: 9/24/2024 4:27:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_tTrainingRegistration_TrainingScheduleTrainingCode] ON [TRS].[tTrainingRegistration]
(
	[TrainingScheduleTrainingCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tTrainingSchedule_CourseCode]    Script Date: 9/24/2024 4:27:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_tTrainingSchedule_CourseCode] ON [TRS].[tTrainingSchedule]
(
	[CourseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tTrainingSchedule_ProgramCode]    Script Date: 9/24/2024 4:27:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_tTrainingSchedule_ProgramCode] ON [TRS].[tTrainingSchedule]
(
	[ProgramCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [TRS].[tTrainingRegistration] ADD  DEFAULT (N'') FOR [EmployeeNo]
GO
ALTER TABLE [TRS].[tTrainingRegistration] ADD  DEFAULT (N'') FOR [TrainingRegistrationStatus]
GO
ALTER TABLE [TRS].[tTrainingRegistration] ADD  DEFAULT (CONVERT([bigint],(0))) FOR [EvaluationScore]
GO
ALTER TABLE [TRS].[tTrainingRegistration] ADD  DEFAULT (CONVERT([bigint],(0))) FOR [PostTestFirstScore]
GO
ALTER TABLE [TRS].[tTrainingRegistration] ADD  DEFAULT (CONVERT([bigint],(0))) FOR [PostTestSecondScore]
GO
ALTER TABLE [TRS].[tTrainingRegistration] ADD  DEFAULT (CONVERT([bigint],(0))) FOR [PostTestThirdScore]
GO
ALTER TABLE [TRS].[tTrainingSchedule] ADD  DEFAULT (N'') FOR [ScheduleStatus]
GO
ALTER TABLE [TRS].[mJobClass]  WITH CHECK ADD  CONSTRAINT [FK_mJobClass_mTrainingProgram_ProgramCode] FOREIGN KEY([ProgramCode])
REFERENCES [TRS].[mTrainingProgram] ([ProgramCode])
GO
ALTER TABLE [TRS].[mJobClass] CHECK CONSTRAINT [FK_mJobClass_mTrainingProgram_ProgramCode]
GO
ALTER TABLE [TRS].[mJobClass]  WITH CHECK ADD  CONSTRAINT [FK_mJobClass_tTrainingSchedule_ScheduleTrainingCode] FOREIGN KEY([ScheduleTrainingCode])
REFERENCES [TRS].[tTrainingSchedule] ([TrainingCode])
GO
ALTER TABLE [TRS].[mJobClass] CHECK CONSTRAINT [FK_mJobClass_tTrainingSchedule_ScheduleTrainingCode]
GO
ALTER TABLE [TRS].[mTrainingCourse]  WITH CHECK ADD  CONSTRAINT [FK_mTrainingCourse_mTrainingProgram_ProgramCode] FOREIGN KEY([ProgramCode])
REFERENCES [TRS].[mTrainingProgram] ([ProgramCode])
ON DELETE CASCADE
GO
ALTER TABLE [TRS].[mTrainingCourse] CHECK CONSTRAINT [FK_mTrainingCourse_mTrainingProgram_ProgramCode]
GO
ALTER TABLE [TRS].[tTrainingFeedback]  WITH CHECK ADD  CONSTRAINT [FK_tTrainingFeedback_mTrainingFeedbackQuestions_TrainingFeedbackQuestionsQuestionID] FOREIGN KEY([TrainingFeedbackQuestionsQuestionID])
REFERENCES [TRS].[mTrainingFeedbackQuestions] ([QuestionID])
GO
ALTER TABLE [TRS].[tTrainingFeedback] CHECK CONSTRAINT [FK_tTrainingFeedback_mTrainingFeedbackQuestions_TrainingFeedbackQuestionsQuestionID]
GO
ALTER TABLE [TRS].[tTrainingFeedback]  WITH CHECK ADD  CONSTRAINT [FK_tTrainingFeedback_tTrainingRegistration_TrainingRegistrationRegistrationCode] FOREIGN KEY([TrainingRegistrationRegistrationCode])
REFERENCES [TRS].[tTrainingRegistration] ([RegistrationCode])
GO
ALTER TABLE [TRS].[tTrainingFeedback] CHECK CONSTRAINT [FK_tTrainingFeedback_tTrainingRegistration_TrainingRegistrationRegistrationCode]
GO
ALTER TABLE [TRS].[tTrainingRegistration]  WITH CHECK ADD  CONSTRAINT [FK_tTrainingRegistration_tTrainingSchedule_TrainingScheduleTrainingCode] FOREIGN KEY([TrainingScheduleTrainingCode])
REFERENCES [TRS].[tTrainingSchedule] ([TrainingCode])
GO
ALTER TABLE [TRS].[tTrainingRegistration] CHECK CONSTRAINT [FK_tTrainingRegistration_tTrainingSchedule_TrainingScheduleTrainingCode]
GO
ALTER TABLE [TRS].[tTrainingSchedule]  WITH CHECK ADD  CONSTRAINT [FK_tTrainingSchedule_mTrainingCourse_CourseCode] FOREIGN KEY([CourseCode])
REFERENCES [TRS].[mTrainingCourse] ([CourseCode])
GO
ALTER TABLE [TRS].[tTrainingSchedule] CHECK CONSTRAINT [FK_tTrainingSchedule_mTrainingCourse_CourseCode]
GO
ALTER TABLE [TRS].[tTrainingSchedule]  WITH CHECK ADD  CONSTRAINT [FK_tTrainingSchedule_mTrainingProgram_ProgramCode] FOREIGN KEY([ProgramCode])
REFERENCES [TRS].[mTrainingProgram] ([ProgramCode])
GO
ALTER TABLE [TRS].[tTrainingSchedule] CHECK CONSTRAINT [FK_tTrainingSchedule_mTrainingProgram_ProgramCode]
GO
USE [master]
GO
