USE [AgooTrainingRegistrarSystem2024]
GO
/****** Object:  Table [TRS].[mCourseCategory]    Script Date: 8/10/2026 7:47:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[TRS].[mCourseCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [TRS].[mCourseCategory](
	[CategoryCode] [nvarchar](450) NOT NULL,
	[RecordNo] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryTitle] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedByComputerUsed] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedByComputerUsed] [nvarchar](max) NULL,
	[DateModified] [datetime2](7) NULL,
 CONSTRAINT [PK_mCourseCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [TRS].[mCourseCategory] ON 

INSERT [TRS].[mCourseCategory] ([CategoryCode], [RecordNo], [CategoryTitle], [Status], [CreatedBy], [CreatedByComputerUsed], [DateCreated], [ModifiedBy], [ModifiedByComputerUsed], [DateModified]) VALUES (N'CRS-0001', 1, N'DEI Training', 1, N'ROBE_VELORIA', N'IT01-VROBERT', CAST(N'2026-08-07T13:40:50.9900000' AS DateTime2), NULL, NULL, NULL)
INSERT [TRS].[mCourseCategory] ([CategoryCode], [RecordNo], [CategoryTitle], [Status], [CreatedBy], [CreatedByComputerUsed], [DateCreated], [ModifiedBy], [ModifiedByComputerUsed], [DateModified]) VALUES (N'CRS-0002', 2, N'Capability Training', 1, N'ROBE_VELORIA', N'IT01-VROBERT', CAST(N'2026-08-07T13:40:50.9900000' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [TRS].[mCourseCategory] OFF
GO
