@model TRS.ViewModels.TrainingCoordinatorViewModel

<div class="form-group row">
    <label for="txt_programTitle" class="col-sm-4 col-form-label">Employee Name:</label>
    <div class="col-sm-8">        
        @(Html.Kendo().DropDownList()        
            .Name("dd_Employee")
            .HtmlAttributes(new {@class = "required-field"})
            .DataValueField("EmployeeNo")
            .DataTextField("EmployeeName")
            .Enable(true)            
            .Value(Model.TrainingCoordinatorDetails?.EmployeeNo)
            .DataSource(dataSource => dataSource                
                .Read(read => read.Action("GetActiveEmployeeList", "TrainingCoordinator"))
                )            
            .Events(e => e.Change("onEmployeeChange")) // Add this line
            )       
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-4 col-form-label">Position:</label>
    <div class="col-sm-8">
        <input id="txt_positionName" type="text" class="form-control" placeholder="Position Name" value="@Model.TrainingCoordinatorDetails?.PositionName" disabled>
    </div>
</div>

<div class="card-footer">
    <div class="float-right">
        <button type="submit" class="btn btn-default" onclick="CloseWindow()">Cancel</button>
        <button type="submit" class="btn btn-info" onclick="AddTrainingCoordinator()">Add</button>
    </div>    
</div>



<script>
    async function AddTrainingCoordinator(){
        //check if all required fields are filled out 
        if ($mong.ValidateRequiredFields() > 0) {            
            $mong.kendoAlertInfo("Please fill up all required fields.")
            return
        }                

        var _model = [];
        _model.push({
            EmployeeName : $(dd_Employee).data("kendoDropDownList").text(),
            EmployeeNo: $(dd_Employee).data("kendoDropDownList").value(),
        })

        //ask user if want to proceed saving
        const result = await $mong.kendoConfirmationDialog("Are you sure you want to save record?");                        
        
        //If user clicked NO, proceed below
        if (result !== true) {                    
            return;//exit
        }

        $.post('@Url.Action("AddTrainingCoordinator","TrainingCoordinator")', {model: _model[0]})
        .fail(
            function (res){       
                $mong.kendoAlertInfo(res.responseText);
                return
            }   
        )
        .done(
            function(data){                        
                $("#window_details").data("kendoWindow").close(); 
                var grid = $("#grid_trainingCoordinatorList").data("kendoGrid");                       
                grid.dataSource.read().then(function () {
                    grid.refresh();
                });                       
                $mong.kendoAlertInfo("Successfully added.");      
                return
            }
        )
    }//end of function
    
</script>